<path-form-field-label [label]="field.name" [required]="field.required"></path-form-field-label>
<div [class.col-md-4]="field.width == 1" [class.col-md-10]="field.width == 2">
    <p-gmap #gmap [options]="field.options" [overlays]="field.overlays" [style]="{'width':'100%','height':'320px'}" (onMapClick)="field.handleMapClick($event)"></p-gmap>
    <div style="margin-top: 1em;">
        <button type="button" pButton label="Clear" icon="pi pi-times" (click)="field.clear()" style="margin-right:.25em"></button>
        <button type="button" pButton label="Zoom In" icon="pi pi-plus" (click)="field.zoomIn(gmap.getMap())" style="margin-right:.25em"></button>
        <button type="button" pButton label="Zoom Out" icon="pi pi-minus" (click)="field.zoomOut(gmap.getMap())"></button>
    </div>

    <p-dialog showEffect="fade" [(visible)]="field.dialogVisible" header="New Location">
            <div class="ui-g ui-fluid" *ngIf="field.selectedPosition">
                <div class="ui-g-2"><label for="title">Label</label></div>
                <div class="ui-g-10"><input type="text" pInputText id="title" [(ngModel)]="field.markerTitle"></div>

                <div class="ui-g-2"><label for="lat">Lat</label></div>
                <div class="ui-g-10"><input id="lat" type="text" readonly pInputText [ngModel]="field.selectedPosition.lat()"></div>

                <div class="ui-g-2"><label for="lng">Lng</label></div>
                <div class="ui-g-10"><input id="lng" type="text" readonly pInputText [ngModel]="field.selectedPosition.lng()"></div>

                <div class="ui-g-2"><label>Drag</label></div>
                <div class="ui-g-10"><p-checkbox [(ngModel)]="field.draggable" binary="true" [style]="{'margin-top':'.25em'}"></p-checkbox></div>
            </div>
            <p-footer>
                <div class="">
                    <button type="button" pButton label="Add Marker" icon="pi pi-plus" (click)="field.addMarker()" style="margin-right:.25em"></button>
                </div>
            </p-footer>
    </p-dialog>
</div>


